html,
body {
  margin: 0;
}

body {
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1068px;
  font-family: "Inter", sans-serif;
}

h1 {
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #272729;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #599c35;
}

h5 {
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 19px;
  color: #272729;
}

h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #000000;
}

p,
pre {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

button {
  font-family: "Inter", sans-serif;
  border-radius: 15px;
}

.button__white {
  color:#646464;
  background-color: #ffffff;
  border: 1px solid #0176FF;
  max-width: 345px;
  height: 45px;
  text-align: left;
  padding-left: 21px;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.button__green {
  max-width: 149px;
  height: 46.23px;
  background: #599C35;
  color: #ffffff;
  outline: none;
  border: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

img {
  width: 100%;
}

input {
  border: 1px solid #949494;
  border-radius: 15px; 
  max-width: 320px;
  height: 45px;
  padding-left: 21px;
  color: #646464;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.br_100 {
  border-radius: 100px;
}

.bg_grey {
  background-color: #fbfbfd;
}

.t_grey {
  color: #6f6f6f !important;
}

.indent {
  text-indent: 20px;
}

@media (max-width: 960px) {
  .h5{
    font-size: 35px;
  }
}

@media (max-width: 640px) {
  h1{
    font-size: 20px;
  }

  h5{
    font-size: 14px;
  }

  p, pre{
    font-size: 15px;
  }

  .button__white{
    font-size: 15px
  }

  .button__green{
    font-size: 15px
  }

  input{
    font-size: 15px
  }
}
