.nav {
  height: 52px;
  display: flex;
  max-width: 1068px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #d3d3d3;
  backdrop-filter: blur(25px);
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
}

.space {
  padding: 150px;
}

.nav h6 {
  color: #b5b5b5;
}

.nav__buttons {
  display: flex;
  gap: 24px;
}

.nav__button {
  background: radial-gradient(
      87.97% 1037.9% at 8.23% 32.61%,
      #599c35 0%,
      #4a8b30 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  border-radius: 39px;
  font-size: 12px;
  outline: none;
  border: none;
  padding: 3px 9px;
  font-weight: 300;
  color: white;
}

.header {
  padding-top: 70px;
  margin-top: 0;
}

.objections {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  gap: 30px;
}

.objections span {
  color: #6f6f6f;
}

.objection {
  max-width: 50%;
  padding: 30px 85px;
}

.lessons__images {
  display: flex;
  justify-content: space-between;
}

.lessons__image {
  max-width: 288px;
  max-height: 539px;
  box-shadow: 7px 14px 27px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
}

.start img {
  width: 48%;
}

.start__block {
  display: flex;
  position: relative;
  background-color: #fbfbfd;
  width: 100%;
  border-radius: 100px;
  overflow: hidden;
  margin-top: 30px;
  justify-content: space-between;
}

.start__block_absolute {
  position: absolute;
  top: 225px;
  left: 445px;
  max-height: 215px;
  max-width: 224px;
}

.start__block_text {
  display: flex;
  border-radius: 0px 100px 100px 0px;
  flex-direction: column;
  margin-left: 60px;
  padding-top: 30px;
}

.start__block_text h1 span {
  background: linear-gradient(
    93.67deg,
    #4a8b30 1%,
    #5db43b 18.97%,
    #4a8b30 37.33%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.start__block_text h1 {
  text-align: left;
  max-width: 450px;
}

.start__block_text p {
  text-align: left;
  max-width: 300px;
  margin-left: 70px;
}

.start__blockl_text {
  display: flex;
  border-radius: 0px 100px 100px 0px;
  flex-direction: column;
  margin-left: 60px;
  padding-top: 30px;
}

.start__blockl_text h1 span {
  background: linear-gradient(
    93.67deg,
    #4a8b30 1%,
    #5db43b 18.97%,
    #4a8b30 37.33%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.start__blockl_text h1 {
  text-align: left;
  max-width: 370px;
}

.start__blockl_text p {
  text-align: left;
  max-width: 300px;
}

.start__blockl_img {
  width: 519px;
  height: 573px;
}

.start__blockl_absolute {
  position: absolute;
  top: 440px;
  left: 290px;
  max-height: 150px;
  max-width: 390px;
}

.start__img_bb8 {
  position: absolute;
  max-width: 163px;
  max-height: 233px;
  left: 450px;
  top: 320px;
}

.reviews__images {
  display: flex;
  justify-content: space-between;
}

.reviews__image {
  max-width: 288px;
  max-height: 539px;
  box-shadow: 7px 14px 27px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
}

.objectionsr {
  display: flex;
  justify-content: space-around;
  margin-top: 28px;
  gap: 30px;
}

.objectionr {
  max-width: 37%;
}

.objectionr p {
  margin-top: 70px;
}

.objectionr pre {
  margin-top: 40px;
}

.objectionsr span {
  color: #6f6f6f;
}

.video__block {
  display: flex;
  justify-content: space-between;
}

.video__wrapper {
  border-radius: 50px;
  overflow: hidden;
  max-width: 47%;
}

.video__text {
  max-width: 47%;
  margin-top: 30px;
}

.video__text p {
  margin: 0 auto;
  max-width: 80%;
  margin-top: 50px;
}

.teachers__block {
  display: flex;
  justify-content: space-between;
}

.teacher {
  display: flex;
  flex-direction: column;
  max-width: 27%;
  border-radius: 45px;
  overflow: hidden;
  box-shadow: 7px 14px 27px rgba(0, 0, 0, 0.1);
}

.teacher h6{
  padding: 0 30px;
}

.recommendations__block{
  display: flex;
  justify-content: space-between;
}

.recommendations__text{
  width: 75%;
  padding: 0 30px 0 30px;
  box-shadow: 7px 14px 27px rgba(0, 0, 0, 0.1);
border-radius: 45px;
}

.recommendations__img{
  width: 180px;
  height: 180px;
  border-radius: 150px;
}

.prices__block{
  display: flex;
  justify-content: space-between;
}

.prices__img{
  width: 287px;
  box-shadow: 7px 14px 27px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
}
.objection__text{
  text-align: center;
  margin-top: 60px;
}

.cta{
  margin: 20px 0;
}

.cta__header{
  background-color: #fbfbfd;
  border-radius: 100px;
  padding-top: 20px;
}

.cta__start_block{
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 60px;
  justify-content: space-between;
}

.cta__blockl_text{
  display: flex;
  border-radius: 0px 100px 100px 0px;
  flex-direction: column;
  margin-left: 100px;
  width: 45%;
}

.cta__blockl_img{
  max-width: 400px;
  height: 400px;
  margin-right: 100px;
}

.cta__input{
  margin-top: 20px;
}

.cta__blockl_text h6{
  max-width: 345px;
}

.footer{
  height: 52px;
  max-width: 1068px;
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #d3d3d3;
  padding-top: 15px;
  
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.footer span{
  color: #b5b5b5;
}

.cta__br{
  display: flex;
  justify-content: space-between;
  max-width: 345px;
  align-items: center;
}

.hr{
  content: "";
  width: 38%;
  border-bottom: #646464 1px solid;
}