.nav{
    height: 52px;
    display: flex;
    max-width: 1068px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #D3D3D3;
    backdrop-filter: blur(25px);
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}

.space{
    padding: 150px;
}

.nav h6{
    color: #B5B5B5;

}

.nav__buttons{
    display: flex;
    gap: 24px;
}

.nav__button{
    background: radial-gradient(87.97% 1037.9% at 8.23% 32.61%, #599C35 0%, #4A8B30 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 39px;
    font-size: 12px;
    outline: none;
    border: none;
    padding: 3px 9px;
    font-weight: 300;
    color: white;
}

.header{
    padding-top: 70px;
    margin-top: 0;
}

.objections{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    gap: 30px;
}

.objections span{
    color: #6F6F6F;
}

.objection{
    max-width: 50%;
    padding: 30px 85px;
}
